/* Font */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,700&display=swap');

/* reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Merriweather', serif;
    color: rgb(152, 249, 88);
    background-color: rgb(58, 56, 56);    
    min-height: 100vh;
}



.emoji {
    font-size: 10rem;
    cursor: pointer;
    user-select: none;
}

.closed {
    display: none;
}

.open {
    display: none;
}

.active {
    display: block;
}